#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mahjongContainer {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  font-weight: bold;
}

.menuImage {
  width: 100%;
}

.handInput {
  background: #D9D9D9;
  width: 100%;
  color:#33200e;
  font-size: 1.2em;
  margin-bottom: 2.5%;
}

.hand-inputs-box {
  width: 85%;
}

.hand-part-box {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.hand-part {
  width: 25%;
  display: flex;
  gap: 5px;
}

.hand-part-input {
  background: #D9D9D9;
  width: 60%;
  color: #33200e;
  font-size: 1.2em;
  max-height: 20px;
}

.hand-letter {
  width: 25%;
  height: 60%;
}

.long-hand-letter {
  width: 25%;
  height: 55%;
}

.startImage {
  width: 80%;
}

.start-image-box {
  width: 15%;
}

.demo-box {
  margin-top: 5%;
  width: 100%;
  height: 150px;
  border-radius: 75px;
  background: rgb(220, 232, 199);

}
.demo-pic-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.demo {
  margin-top: 5%;
  width: 18%;
}
.demo-hand-box {
  margin-top: 2.5%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.demo-hand {
  width: 100%;
}


.button {
  background: #B27846;
  padding: 0;
}
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hand-tiles-box {
  margin-top: 2.5%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}